*.log
*.user
*.wad

# Windows / Visual Studio output
*.obj
.vs/
Debug/
Release/

# macOS files
*.DS_Store

# *nix output
build/
*.o
*.map

# emscripten output
*.html
*.js
*.wasm
*.data

# Final executables
/doomgeneric/doomgeneric
/doomgeneric/fbdoom
/doomgeneric/doom
/doomgeneric/aadoom
